 h1{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    
    border-radius: 5px;

 }

 header{
    display: flex;
    justify-content: center;
 }

 article{
    background-color:  red;
    color: rgb(183, 255, 0);
 }
 p{
    padding: 10px;
    margin: 10px;
 }